body {
  margin: 0;
  font-family: 'Gafata', sans-serif;
  font-size: 1.25em;
}

.title {
  font-family: 'Jura', sans-serif;
  margin-top: 0.5em;
  font-size: 2.5em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Jura', sans-serif;
}

.bg-purple-main {
  background-color: #685A8F;

}

hr {
  margin: 3em 0em 3em 0em;
}

.bg-green-main {
  background-color: #217F7E;
}

.bg-green-main-90 {
  background-color: rgba(33, 127, 126, 0.9);
}

.bg-gray {
  background-color: #F2F2F2;
}
.bg-dark-gray {
  background-color: #b6b6b6;
}

.text-green {
  color: #126F6E;
}

.text-purple {
  color: #685A8F;
}


a {
  text-decoration: none;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 576px){
  .mt-sm-none {
    margin-top: 0em !important;
  }
  .mt-sm-2 {
    margin-top: 2em;
  }
  .col-sm-6, .col-sm {
      display: flex;
      justify-content: center !important;
      text-align: center !important;
  }
  
  body {
    font-size: 1.15em;

  }
}
